In [1]:
str = ""You wouldn't be disappointed with the course", said Noman"

SyntaxError: invalid syntax (<ipython-input-1-ceb4bef81f3b>, line 1)

In [5]:
str = "\"You wouldn\'t be disappointed with the course\", said Noman"
print(str)

"You wouldn't be disappointed with the course", said Noman

In [7]:
str = "\"You wouldn\'t be disappointed with the course\", said \nNoman"
print(str)

"You wouldn't be disappointed with the course", said
Noman

In [10]:
str = 'C:\someDir\nomanFolder'
print(str)

C:\someDir
omanFolder

In [11]:
str = r'C:\someDir\nomanFolder' ##use raw strings by adding an r before the first quote
print(str)

C:\someDir\nomanFolder

In [14]:
str = 5*"No"+"man"
print(str)

NoNoNoNoNoman

In [25]:
str = "Hello Xcel Alliance Python Course participants"
print(str)          # Prints complete string
print(str[0])       # Prints first character of the string
print(str[6:15])     # Prints characters starting from 3rd to 5th
print(str[6:])      # Prints string starting from 3rd character
print(str * 2)      # Prints string two times
print(str + " TESTING") # Prints concatenated string
print(str[-1])      #last character
print(str[-10:-5])   #characters from 10th-last to 5th-last
print(len(str))     #len() is used to calculate the number of characters

Hello Xcel Alliance Python Course participants
H
Xcel Alli
Xcel Alliance Python Course participants
Hello Xcel Alliance Python Course participantsHello Xcel Alliance Python Course participants
Hello Xcel Alliance Python Course participants TESTING
s
rtici
46

In [27]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

print(list)          # Prints complete list
print(list[0])       # Prints first element of the list
print(list[1:3])     # Prints elements starting from 2nd till 3rd 
print(list[2:])      # Prints elements starting from 3rd element
print(tinylist * 2)  # Prints list two times
print(list + tinylist) # Prints concatenated lists
print(list[0][1])      #second element from first list

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']
b

In [28]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2 )
tinytuple = (123, 'john')

print(tuple)          # Prints complete list
print(tuple[0])       # Prints first element of the list
print(tuple[1:3])     # Prints elements starting from 2nd till 3rd 
print(tuple[2:])      # Prints elements starting from 3rd element
print(tinytuple * 2)  # Prints list two times
print(tuple + tinytuple) # Prints concatenated lists
print(tuple[0][1])      #second element from first list

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')
b

In [29]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2 )
print(tuple)          # Prints complete list
print(tuple[0][1])      #second element from first list

('abcd', 786, 2.23, 'john', 70.2)
b

In [30]:
dict = {}
dict['one'] = "This is one"
dict[2]     = "This is two"

tinydict = {'name': 'Noman','code':6734, 'dept': 'xcel'}


print(dict['one'])       # Prints value for 'one' key
print(dict[2])           # Prints value for 2 key
print(tinydict)          # Prints complete dictionary
print(tinydict.keys())   # Prints all the keys
print(tinydict.values()) # Prints all the values

This is one
This is two
{'name': 'Noman', 'code': 6734, 'dept': 'xcel'}
dict_keys(['name', 'code', 'dept'])
dict_values(['Noman', 6734, 'xcel'])